.Article {
  height: 100%;
  overflow: hidden;
}

.Article-nav {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 24rpx;
  border-bottom: 2rpx solid #E8E8E8;
  color: #303133;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #FFF;
}

.nav-back {
  width: 36rpx;
  height: 36rpx;
  padding: 5rpx;
  object-fit: cover;
  object-position: center;
  margin-right: 16rpx;
}

.Article-content {
  padding: 36rpx 24rpx;
}

.Article-header {
  margin-bottom: 32rpx;
}

.Article-p {
  font-size: 32rpx;
  margin-bottom: 28rpx;
  color: #303133;
  line-height: 1.5;
  word-spacing: 24rpx;
  text-indent: 2em;
}

.title {
  font-size: 42rpx;
  display: block;
  margin-bottom: 16rpx;
}

.author, .date {
  font-size: 24rpx;
  color: #909399;
  margin-right: 24rpx;
}

.scroll-view {
  height: 100%;
}

.recommend-list {
  margin: 48rpx 0;
  border-top: 1rpx solid #E8E8E8;
  position: relative;
}

.recommend-tag {
  display: inline-block;
  color: #909399;
  font-size: 20rpx;
  position: absolute;
  top: 0;
  transform: translateY(-150%);
  left: 24rpx;
  background-color: #FFF;
  z-index: 100;
}
