.Card {
  margin-right: 24rpx;
  margin-bottom: 24rpx;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.card-img-container {
  width: 220rpx;
  height: 144rpx;
  border-radius: 8rpx;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 96rpx;
  height: 96rpx;
}

.card-title {
  font-size: 28rpx;
  margin-top: 16rpx;
}

.card-img-bg-0 {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.card-img-bg-1 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.card-img-bg-2 {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

.card-img-bg-3 {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.card-img-bg-4 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.card-img-bg-5 {
  background-color: #E4E4E1;
 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
}

.card-img-bg-6 {
  background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
}
